  <div class="float-wrapper">
    <h4 class="comment-count"><%= memo.comments.count %>件コメント</h2>
  </div>
  <%= render 'devise/shared/error_messages', resource: comment %>
	<% if flash[:notice] %>
  	<div class="flash">
  		<%= flash[:notice] %>
  	</div>
	<% end %>
	<table id="js-table-comment", class="table">
		<% memo.comments.each do |comment| %>
			<% if comment.user.is_deleted == "Invaild" %>
			<% else %>
			<tr>
		   	<td width="120">
		    	<%= link_to user_path(comment.user) do %>
		    		<%= attachment_image_tag(comment.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "70x70") %>
		    	<% end %>
		    </td>
	    	<td width="150">
		      <%= comment.user.name %>
		    	<p>
		    	  <%= comment.created_at.strftime('%Y/%m/%d') %>
		    	</p>
		    	<p>
		    	  <% if comment.user.id == current_user.id %>
      			  <%= link_to memo_comment_path(memo, comment), method: :delete, class: "btn-sm btn-danger", remote: true do %>
      				<i>削除</i>
      				<% end %>
    				<% end %>
    			</p>
  			</td>
			  <td>
      	  <%= comment.body %>
			  </td>
			</tr>
			<% end %>
		<% end %>
	<table>
