
<h1>検索結果</h1>

<% if flash[:notice] %>
  <div class="flash alert alert-danger">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="index-background">
    <table class="text-center table center-index">
      <thead>
        <tr>
          <th class="text-center">タイトル</th>
          <th class="text-center">内容</th>
          <th class="text-center">ユーザー名</th>
          <th></th>
        </tr>
      </thead>


        <% @results.each do |memo| %>
            <tbody>
              <tr>
                <td>
                  <%= memo.title %>
                </td>
                <td>
                  <%= memo.body %>
                </td>
                <td>
                  <%= memo.user.name %>
                </td>
                <td class="btn btn-default">
                  <%= link_to "詳細", memo_path(memo) %></td>
                <td>
              </tr>
            </tbody>
        <% end %>
  　</table>
</div>

