<% if user_signed_in? %>
  <div class="container">
    <% if flash[:notice] %>
      <div class="flash alert alert-danger">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-3">
        <%= render 'users/profile', user:@user %>
      </div>
      <div class="col-lg-9 jumbotron">
        <h1>新着TOP</h1>
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <%= search_form_for @q, url: search_tops_path, class: "form-inline  input-group" do |f| %> 
            <%= f.search_field :body_cont, class: "form-control search-form", :placeholder => "メモ内容" %>
            <%= f.search_field :category_category_name_cont, class: "form-control search-form", :placeholder => "カテゴリー" %>
            <div class="">
              <i class="fas fa-search">
                <%= f.submit '検索' %>
              </i>
            </div>
            <% end %>
        </div>
        
        
        <div>
          <% if @memos == nil %>
          <p>メモを投稿しよう</p>
          <% else %>
            <% @memos.each do |memo| %>
              <div class="card">
                <h5 class="card-header">タイトル：<%= memo.title %></h5>
                <div class="card-body">
                  <h5 class="card-title">カテゴリ名：<%= memo.category.category_name %></h5>
                  <p class="card-text">メモ内容：<%= memo.body %></p>
                  <div class=" d-flex justify-content-end">
                    <div>
                      <br>
                      <div>コメント数:<%= memo.comments.count %>_</div>
                    </div>
                    <div>
                      <br>
                      <div id="favorites_buttons_<%= memo.id %>">
                        <%= render "favorites/favorite", memo: memo %>
                      </div>
                    </div>
                    <div class="d-inline p-2 text-white" >
                      <%= link_to "go detail", memo_path(memo.id), class: "btn btn-primary btn-lg" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>  
        </div>
      </div>
    </div>  
  </div>
<% else %>
      
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12 jumbotron">
        
        <h1>新着TOP</h1>
        <div class="center">
          <%= link_to new_user_session_path, class: "btn btn-primary" do %>
            <p>ログインしよう</p>
          <% end %>
        </div>
        <Br>
        
        <div>
          <% if @memos == nil %>
          <p>メモを投稿しよう</p>
          <% else %>
            <% @memos.each do |memo| %>
              <div class="card">
                <h5 class="card-header">タイトル：<%= memo.title %></h5>
                <div class="card-body">
                  <h5 class="card-title">カテゴリ名：<%= memo.category.category_name %></h5>
                  <p class="card-text">メモ内容：<%= memo.body %></p>
                  <div class=" d-flex justify-content-end">
                    <div>
                      <br>
                      <div>コメント数:<%= memo.comments.count %>_</div>
                    </div>
                    <div>
                      <br>
                    </div>
                    <div class="d-inline p-2 text-white" >
                      <%= link_to "go detail", memo_path(memo.id), class: "btn btn-primary btn-lg" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>  
        </div>
      </div>
    </div>  
  </div>
<% end %>
