<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <table class="users-profile">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %>
          </td>
        </tr>
      </tbody>
  </table>
  
  <table class="users-profile">
    <thead></thead>
    <tbody>
      <tr>
        <td>
          <div>
            <% unless user_signed_in? && current_user.id == user.id %>
              <div id="follow_form">
                <% if current_user.following?(user) %>
                  <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
                  html: { method: :delete }, local: true) do |f| %>
                  <%= f.submit "フォロー中！", class: "btn" %>
                  <% end %>
                <% else %>
                  <%= form_with(model: current_user.active_relationships.build, class: "like_form") do |f| %>
                  <div>
                    <%= hidden_field_tag :followed_id, user.id %>
                  </div>
                  <%= f.submit "フォローする", class: "btn btn-info" %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to "", edit_user_path(current_user), class: "far fa-file-alt btn btn-secondary" %>
        </td>
      </tr>
    </tbody>
  </table>
  <hr class="my-4">
  <hr class="my-4">
  
  <table class="users-profile">
    <thead>
      <tr>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user.name %></td>
      </tr>
    </tbody>
  </table>
  
  <hr class="my-4">
  
  <table class="users-profile">
    <thead>
      <tr>
        <th>お気に入り</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <hr class="my-4">
  
  <table class="users-profile">
    <thead>
      <tr>
        <th>自己紹介</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= simple_format(user.introduction) %></td>
      </tr>
    </tbody>
  </table>
  
  <hr class="my-4">
  
  <table class="users-profile">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to "フォロー", following_user_path(user) %>
		      <%= user.following.count %>
		    </td>
        <td>
          <%= link_to "フォロワー", followers_user_path(user) %>
	        <%= user.followers.count %>
	      </td>
      </tr>
    </tbody>
  </table>  
</div>

<div>
  <table class="users-profile">
    <tr>
      <td>
        <%= link_to "new memo", new_memo_path(memo_sort: 1), class: "fas fa-edit btn btn-primary float-right btn-lg" %>
      </td>
    </tr>
  </table>
</div>

