<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <table class="users-profile">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100' %>
          </td>
        </tr>
      </tbody>
  </table>
  
  <table class="users-profile">
    <thead></thead>
    <tbody>
      <tr>
        <td>
          <div>
            <% unless user_signed_in? && current_user.id == user.id %>
              <div id="follow_form">
                <% if current_user.following?(user) %>
                  <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
                  html: { method: :delete }, local: true) do |f| %>
                  <%= f.submit "フォロー中！", class: "btn" %>
                  <% end %>
                <% else %>
                  <%= form_with(model: current_user.active_relationships.build, class: "like_form") do |f| %>
                  <div>
                    <%= hidden_field_tag :followed_id, user.id %>
                  </div>
                  <%= f.submit "フォローする", class: "btn btn-info" %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to "", edit_user_path(current_user), class: "far fa-file-alt btn btn-secondary" %>
        </td>
      </tr>
    </tbody>
  </table>
  <hr class="my-4">
  <hr class="my-4">
  
  <div class="card">
    <div class="card-body">
      <div class="center"><b>ユーザー名</b></div>
      <h5 class="card-title center"><%= user.name %></h5>
      <hr class="my-4">
      <div class="text-justify">
        <div class="center"><b>自己紹介</b></div>
        <div class="center"><%= simple_format(user.introduction) %></div>
      </div>
      <hr class="my-4">
      <div>
        <div class="center">
          <%= link_to "follow", following_user_path(user), class: "btn btn-outline-primary" %>
          <%= user.following.count %>
        </div>
        <hr class="my-4">
        <div class="center">
          <%= link_to "follower", followers_user_path(user), class: "btn btn-outline-primary" %>
          <%= user.followers.count %>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div>
  <table class="users-profile">
    <tr>
      <td>
        <%= link_to "new memo", new_memo_path(memo_sort: 1), class: "fas fa-edit btn btn-primary float-right btn-lg" %>
      </td>
    </tr>
  </table>
</div>

