<h2>ユーザー情報編集画面</h2>

<%= form_with model:@user, local:true do |f| %>

<table>
    <thead>
      <tr>
        <th>プロフィール写真</th>
      </tr>
      <tr>
        <th><%= f.attachment_field :profile_image %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", size: '200×200' %></td>
      </tr>
    </tbody>
</table>

<table>
    <thead>
      <tr>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
    </tbody>
</table>

<table>
    <thead>
      <tr>
        <th>introduction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_area :introduction, size: "50x20" %></td>
      </tr>
    </tbody>
</table>

<%= f.submit "編集内容保存", class:"btn btn-success sign_up" %>
<% end %>

<br>
<div align="right">
	<%= link_to "退会画面へ", quit_user_path(@user), class: "btn btn-danger", method: :get %>
</div>
<br>

<%= form_with(url: user_categories_path(current_user), method: :post, model:@category, local:true) do |f| %>
  <div>
    <%= f.label "カテゴリー入力欄" %>
    <%= f.text_field :category_name, placeholder: "新しいカテゴリーを入力" %>
    <%= f.submit "追加", class: "btn btn-info btn-md" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>
        登録したカテゴリー
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= category.category_name %>
        </td>
        <td>
          <%#= link_to "" %>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>

