
<%= form_with model:@memo, local:true do |f| %>

<table>
    <thead>
      <tr>
        <th>タイトルを入力</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_field :title, autofocus: true %></td>
      </tr>
    </tbody>
</table>

<table>
    <thead>
      <tr>
        <th>内容を入力</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_area :body, autofocus: true %></td>
      </tr>
    </tbody>
</table>

<table>
    <thead>
      <tr>
        <th>introduction</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_area :introduction, autofocus: true, size: "50x20" %></td>
      </tr>
    </tbody>
</table>

<%= f.submit "編集内容保存", class:"btn btn-success sign_up" %>
<% end %>