<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'users/profile', user:@user %>
    </div>
    <div class="col-lg-9 jumbotron">
      <div class="card">
        <div class="card-body">
          <div class="card-title center d-flex justify-content-center">
            <div>
              <div class="">タイトル</div>
              <div><%= @memo.title %></div> 
            </div>
            <div id="favorites_buttons_<%= @memo.id %>">
              <%= render "favorites/favorite", memo: @memo %>
            </div>
          </div>
          
          <div class="center">
            <div>メモ内容</div>
            <p class="card-text center"><%= @memo.body %></p>
          </div>
          <div class="text-justify">
            <div class="center">カテゴリー</div>
            <div class="center">
              <%= @memo.category.category_name %>
            </div>
          </div>
          <div class="buttons-coll">
            <%= link_to new_memo_path(memo_sort: 0), class: "text-warning custom-btn btn-7" do %>
              <br>
              <div class="fas fa-plus-circle"></div>
              <div>new connect</div>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-12 jumbotron">
      <%= form_with(model: [@memo, @comment], remote: true) do |f| %>
      	<div class="memo-show-comment">
          <%= f.text_area :body, rows: '2', cols: '100', class: "form-control comment-create", placeholder: "コメントをここに" %>
      	</div>
    		<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right btn btn-primary float-right" %>
    	<% end %>
      <div class="comment-list bt style-2" id="comments">
        <%= render partial: 'comments/comment', locals: {memo: @memo, comment: @comment} %>
      </div>
    </div>
  </div>
</div>

