<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'users/profile', user:@user %>
    </div>
    <div class="col-lg-9 jumbotron">
      <% if @memo.parent_id == @memo.id %>
      <h2>このメモは一番新規です</h2>
      <% else %>
      <table>
        <thead>
          <tr>
            <th>このメモは以下の子要素です</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @memo_parent.title %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <table class="memo-show-table display-5">
          <thead>
            <tr>
              <th class="memo-show-th">メモタイトル</th>
              <th>
                <div id="favorites_buttons_<%= @memo.id %>">
                  <%= render "favorites/favorite", memo: @memo %>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @memo.title %></td>
            </tr>
          </tbody>
      </table>
      
      <hr class="my-4">
      
      <table class="memo-show-table">
          <thead>
            <tr>
              <th class="memo-show-th">内容</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= simple_format(@memo.body) %></td>
            </tr>
          </tbody>
      </table>
      
      <hr class="my-4">
      
      <table class="memo-show-table">
        <thead>
          <tr>
            <th class="memo-show-th">カテゴリ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%#= f.text_area :introduction, size: "50x20" %></td>
          </tr>
        </tbody>
      </table>
      
      <table class="buttons-coll">
        <tr>
          <td>
            <!--btn--circle btn btn-warningから変更-->
              <span>
                <%#= link_to edit_memo_path(@memo_new.id), class: "text-warning" do %>
                <%= link_to new_memo_path(memo_sort: 0), class: "text-warning custom-btn btn-7" do %>
                  <br>
                  <div class="fas fa-plus-circle"></div>
                  <div>new connect</div>
                  <br>
                <% end %>
                <%#= form_with model:@memo_new, local:true do |f| %>
                <%#= f.submit "new connect" %>
                <%# end %>
              </span>
          </td>
        </tr>
      </table>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-12 jumbotron">
      <%= form_with(model: [@memo, @comment], remote: true) do |f| %>
      	<div class="memo-show-comment">
          <%= f.text_area :body, rows: '2', cols: '100', class: "form-control comment-create", placeholder: "コメントをここに" %>
      	</div>
    		<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right btn btn-primary float-right" %>
    	<% end %>
      <div>
        <%= render partial: 'comments/comment', locals: {memo: @memo, comment: @comment} %>
      </div>
    </div>
  </div>
</div>

